.Post {
    width: 100%;
    padding-bottom: 20px;
}
.Post .UserLine {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.Post .UserLine span {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    display: block;
}
.Post .UserLine i {
    color: #fff;
    font-size: 12px;
    display:block;
    margin-top: 5px;
}
.Post .UserLine .img {
    width: 20%;
    display: inline-block;
}
.Post .UserLine .img img {
    width: 60px;
    border-radius: 100px;
    border:solid 4px #575757;
}
.Post .UserLine .user {
    width: 70%;
    display: inline-block;
}
.Post .UserLine .user .verify {
    display: inline-block;
    color: rgb(0, 145, 255);
    font-size: 15px;
    margin-left: 6px;
}
.Post .UserLine .user .king {
    display: inline-block;
    color: rgb(255, 217, 0);
    font-size: 15px;
    margin-left: 6px;
}
.Post .posting {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: solid 1px #3a3a3a;
}
.Post .posting img {
    width: 100%;
    border-radius: 10px;
}
.Post .posting .description {
    color: #aaaaaa;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.Post .posting .infos {
    padding-top: 20px;
}
.Post .posting .infos .button {
    background-color: transparent;
    border: 0;
    color: #aaaaaa;
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
}
.Post .posting .infos .button i {
    font-size: 20px;
    margin-right: 7px;
}
.Post .posting .infos button i.fa-solid {
    animation: pulse 0.8s 1;
}
.Post .posting .infos .button span {
    font-size: 13px;
}
.Post .posting .imgPost {
    position: relative;
}
.Post .posting .likePhoto {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
    align-content: center;
    align-items: center;
}
.Post .posting .likePhoto i {
    color: red;
    font-size: 80px;
    animation: like 1s 1;
}
/* LIKE EFFECT */
@keyframes like {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }