/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* ROOT VARIABLES */
:root {
  --color-primary:#CE5656;
  --color-primary-hover:#9e4040;
  --font: "Inter", sans-serif;
}

/* GLOBALS */
body {
  font-family: var(--font);
}
input {
  outline: none;
}
input, button, a {
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
}
a {
  text-decoration: none;
  outline: none;
}
.clicked {
  text-align: center;
}
.clicked button span {
  display: none;
}
.clicked i {
  text-align: center;
  position: absolute !important;
  margin: auto;
  left: 48% !important;
  animation: pulse 0.8s infinite;
}
.pulse {
  animation: pulse 0.8s infinite;
}
.overlay {
  background-color: #1818189c;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 998;
}
.container {
  padding:70px 10px 10px 10px;
}
/* HOME */


/* EFFECTS */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}